[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/.config/zsh/custom/plugins/fzf-git.sh"]
	path = zsh/.config/zsh/custom/plugins/fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh.git
