@import "macchiato.css";

* {
	border:        none;
	border-radius: 0;
	font-family:   "CaskaydiaCove Nerd Font";
	font-size:     15px;
	box-shadow:    none;
	text-shadow:   none;
	transition-duration: 0s;
}

window#waybar {
	background-color: @crust;
	border: 4px solid @surface0;
	border-radius: 10px;
}

#window {
	color: @text;
	font-weight: bold;
}

#workspaces {
	background: transparent;
	padding: 6px 7px;
}

#workspaces button {
	font-weight: bold;
	padding: 0 4px 0 5px;
	background: none;
	border-radius: 5px;
	margin: 6px 3px;
	font-size: 10px;
	transition: background 0.3s ease-out;
	color: @subtext0;
}

#workspaces button:hover {
	color: @text;
	background: @surface0;
}

#workspaces button.urgent {
	color: @surface1;
	background: @maroon;
}

#workspaces button.active {
	color: @surface0;
	background-color: @green;
}

#clock {
	color: @subtext0;
	font-size: 15px;
	font-weight: bold;
	margin: 0 10px 0 0;
	padding: 0 6px;
}

#battery {
	color: @text;
	font-size: 15px;
	font-weight: bold;
	margin: 11px 10px;
	padding: 0 16px 0 9px;
	background: @base;
	border-radius: 5px;
	transition: 0.5s ease-in-out;
}

#battery.discharging.warning {
	color: @surface0;
	background: linear-gradient(to right, @peach, @yellow);
}

#battery.discharging.critical {
	color: @surface0;
	background: linear-gradient(to right, @red, @maroon);
}

#battery.charging {
	color: @surface0;
	padding: 0 9px;
	background: linear-gradient(to right, @green, @teal);
}
